/*!FROONT Project element styles */

h1 {
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}
h2 {
  font-weight: 600;
  font-size: 2.625rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}
h3 {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.3;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}
h4 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}
h5 {
  font-weight: 600;
  font-size: .6875rem;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}
h6 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}
p {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}
blockquote {
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 1.7;
  letter-spacing: -0.03rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem
}
a {
  text-decoration: underline;
  color: inherit
}
a:hover {
  opacity: .8
}
.fr_navigation_link {
  font-family: Courier;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.3;
  text-align: center;
  letter-spacing: .01em;
  color: white
}
.fr_navigation_link.fr-text p {
  font-size: 1.5rem
}
.fr_red_button {
  font-family: Courier;
  font-size: 1.0em;
  text-align: center;
  letter-spacing: .05em;
  color: white;
  background-color: #950000;
  border-radius: 4px
}
.fr_red_button.fr-text p {
  font-family: courier;
}
.fr_paragraph_main_center_white {
  font-family: Courier;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.4;
  text-align: left;
  letter-spacing: .01em;
  color: black
}
.fr_paragraph_main_center_white.fr-text p {
  font-weight: 300;
  line-height: 1.0;
  text-align: center;
  color: rgba(78, 14, 14, 0.82)
}
.fr_h1_main_center_white {
  font-family: Courier;
  font-weight: 900;
  font-size: 3.55em;
  line-height: 1.0em;
  text-align: center;
  letter-spacing: .2;
  color: white;
  background-color: rgba(103, 100, 100, 0.32)
}
.fr_h1_main_center_white.fr-text h1 {
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: .8em;
  color: #bf0202
}
.fr_h1_main_center_white.fr-text p {
  color: #950000
}
.fr_h2_center_white {
  font-family: Courier;
  font-weight: 80;
  font-size: 1.7em;
  line-height: 1.45em;
  text-align: center;
  letter-spacing: .05em;
  color: white
}
.fr_h2_center_white.fr-text p {
  font-family: courier;
}
.fr_h1_main_center_white-1 {
  font-family: Courier;
  font-weight: 100;
  font-size: 1.7em;
  line-height: 1.45em;
  text-align: center;
  letter-spacing: 0;
  color: white
}
.fr_h1_main_center_white-1.fr-text p {
  font-family:courier;
}
.fr_submit_button_1 {
  font-family: Courier;
  font-weight: 300;
  font-size: 1em;
  line-height: 20px;
  text-align: center;
  letter-spacing: .03em;
  color: white;
  background-color: #950000;
  border-radius: 5px
}
.fr_form_input_1 {
  font-family: courier;
  font-weight: 300;
  font-size: 1em;
  line-height: 20px;
  color: #999;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px
}
.fr_h1_black {
  font-family: Courier;
  font-weight: 900;
  font-size: 3.3em;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0;
  color: black;
  background-color: rgba(0, 0, 0, 0.5)
}
.fr_h1_black.fr-text p {
  color: white
}
.fr_caption_grey_center {
  font-family: Courier;
  font-weight: 300;
  font-size: .85em;
  line-height: 1.3em;
  text-align: center;
  letter-spacing: .05em;
  color: black
}
.fr_h2_center_black_reg {
  font-family: Courier;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.45em;
  text-align: center;
  letter-spacing: .05em;
  color: black
}
.fr_h2_main_center_grey {
  font-family: Courier;
  font-weight: 300;
  font-size: 1.7em;
  line-height: 1.45em;
  text-align: center;
  letter-spacing: .05em;
  color: black
}
.fr_team_h1_main_title {
  font-family: Courier;
  font-weight: 300;
  font-size: 3.55em;
  text-align: center;
  letter-spacing: .05em;
  color: #950000
}
.fr_paragraph_center_black {
  font-family: courier;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.4;
  text-align: center;
  letter-spacing: .01em;
  color: black
}
.fr_h1_main_center_black {
  font-family: courier;
  font-weight: 900;
  font-size: 3.55em;
  text-align: center;
  letter-spacing: 0;
  color: #292c31
}
.fr_caption_center_light_grey {
  font-family: courier;
  font-weight: 100;
  font-size: .85em;
  line-height: 1.3em;
  text-align: center;
  letter-spacing: .05em;
  color: #cbcbcb
}
.fr_navigation {
  width: 100%;
  background-color: black;
  z-index: 1000
}
.fr_items {
  float: none;
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-left: 320px;
  overflow: hidden
}
.fr_link_3 {
  display: inline-block;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px
}
.fr_link_2 {
  display: inline-block;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px
}
.fr_link_1 {
  display: inline-block;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px
}
.fr_mobile_toggle {
  display: none;
  width: 22px;
  margin-top: 20px;
  margin-bottom: 13px;
  margin-left: 20px;
  fill: white
}
.fr_header_1 {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url(../images/thumbnail/b2b-hr-gambo-9.jpg_1500x1000.jpg);
  background-position: center center;
  background-size: cover
}
.fr_hd1_button {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}
.fr_hd1_paragraph {
  float: none;
  display: block;
  width: 90%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}
.fr_hd1_main_title {
  float: none;
  display: block;
  width: 55.05%;
  margin-right: auto;
  margin-left: auto;
  min-height: 8.31rem;
  max-width: 600px
}
.fr_link_4 {
  display: inline-block;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px
}
.fr_link_5 {
  display: inline-block;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px
}
.fr_content_8 {
  float: none;
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: black
}
.fr_cnt08_quote {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px
}
.fr_discover {
  float: none;
  display: block;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: black;
  background-image: url(../images/thumbnail/afrobeatology-1.jpg_1500x980.jpg);
  background-position: center center;
  background-size: cover;
}
.fr_quote_4 {
  float: none;
  display: block;
  width: 62.6%;
  margin-right: auto;
  margin-left: auto;
  min-height: .63rem;
  max-width: 700px
}
.fr_link_6 {
  display: inline-block;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px
}
.fr_styled_form_1 {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: black;
  background-image: url(../images/thumbnail/b2b-hr-gambo-6_1.jpg_1500x1000.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 26.88rem
}
.fr_styled_form_grid {
  float: none;
  display: block;
  width: 90%;
  vertical-align: top;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px
}
.fr_styled_form_grid>.fr-widget:nth-child(3n+1) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 31.33%;
  clear: left;
  max-width: inherit
}
.fr_styled_form_grid>.fr-widget:nth-child(3n+2) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 31.33%;
  clear: none;
  max-width: inherit
}
.fr_styled_form_grid>.fr-widget:nth-child(3n+3) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 31.33%;
  clear: none;
  max-width: inherit
}
.fr_styled_submit_btn {
  float: none;
  display: block;
  vertical-align: top;
  padding-top: 20px;
  padding-bottom: 20px
}
.fr_styled_email_input {
  float: none;
  height: 60px;
  vertical-align: top;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 20px;
  padding-left: 20px
}
.fr_styled_name_input {
  float: none;
  height: 60px;
  vertical-align: top;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 20px;
  padding-left: 20px
}
.fr_styled_form_1_heading {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px
}
.fr_crew_1 {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding-top: 80px;
  padding-bottom: 80px
}
.fr_team_3_column_grid {
  float: none;
  display: block;
  width: 90%;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}
.fr_team_3_column_grid>.fr-widget:nth-child(3n+1) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 32%;
  clear: left;
  max-width: inherit
}
.fr_team_3_column_grid>.fr-widget:nth-child(3n+2) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 31%;
  clear: none;
  max-width: inherit
}
.fr_team_3_column_grid>.fr-widget:nth-child(3n+3) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 32%;
  clear: none;
  max-width: inherit
}
.fr_soc_icons_three {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100px
}
.fr_soc_icons_three>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 1%;
  margin-bottom: 0;
  margin-left: 0;
  width: 49%;
  clear: left;
  max-width: inherit
}
.fr_soc_icons_three>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 1%;
  width: 49%;
  clear: none;
  max-width: inherit
}
.fr_linkedin_icon_three {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_in_icon_svg_three {
  float: none;
  display: block;
  width: 40px;
  margin-right: auto;
  margin-left: auto;
  fill: #cbcbcb
}
.fr_twitter_icon_three {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_tw_icon_svg_three {
  float: none;
  display: block;
  width: 40px;
  margin-right: auto;
  margin-left: auto;
  fill: #cbcbcb
}
.fr_person_three_info {
  float: none;
  display: block;
  width: 90%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto
}
.fr_person_three_name {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto
}
.fr_person_three_pic {
  float: none;
  display: block;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../images/thumbnail/mask1_4.jpg_408x432.jpg);
  background-position: center center;
  background-size: cover;
  border: 2px solid #cbcbcb;
  min-height: 150px;
  border-radius: 50%
}
.fr_soc_icons_two {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100px
}
.fr_soc_icons_two>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 1%;
  margin-bottom: 0;
  margin-left: 0;
  width: 49%;
  clear: left;
  max-width: inherit
}
.fr_soc_icons_two>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 1%;
  width: 49%;
  clear: none;
  max-width: inherit
}
.fr_linkedin_icon_two {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_in_icon_svg_two {
  float: none;
  display: block;
  width: 40px;
  margin-right: auto;
  margin-left: auto;
  fill: #cbcbcb
}
.fr_twitter_icon_two {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_tw_icon_svg_two {
  float: none;
  display: block;
  width: 40px;
  margin-right: auto;
  margin-left: auto;
  fill: #cbcbcb
}
.fr_person_two_info {
  float: none;
  display: block;
  width: 90%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto
}
.fr_person_two_name {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto
}
.fr_person_two_pic {
  float: none;
  display: block;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../images/thumbnail/mask1_3.jpg_408x432.jpg);
  background-position: center center;
  background-size: cover;
  border: 2px solid #cbcbcb;
  min-height: 150px;
  border-radius: 50%
}
.fr_soc_icons_one {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100px
}
.fr_soc_icons_one>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 1%;
  margin-bottom: 0;
  margin-left: 0;
  width: 49%;
  clear: left;
  max-width: inherit
}
.fr_soc_icons_one>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 1%;
  width: 49%;
  clear: none;
  max-width: inherit
}
.fr_linkedin_icon_one {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_in_icon_svg_one {
  float: none;
  display: block;
  width: 40px;
  margin-right: auto;
  margin-left: auto;
  fill: #cbcbcb
}
.fr_twitter_icon_one {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_tw_icon_svg_one {
  float: none;
  display: block;
  width: 40px;
  margin-right: auto;
  margin-left: auto;
  fill: #cbcbcb
}
.fr_person_one_info {
  float: none;
  display: block;
  width: 90%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto
}
.fr_person_one_name {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto
}
.fr_person_one_pic {
  float: none;
  display: block;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../images/thumbnail/cheekychizzy-headshot_1.jpg_320x320.jpg);
  background-position: center center;
  background-size: cover;
  border: 2px solid #cbcbcb;
  min-height: 150px;
  border-radius: 50%
}
.fr_team_paragraph {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}
.fr_team_main_title {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}
.fr_footer_2 {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f4f4f4
}
.fr_f2_button {
  float: none;
  display: block;
  width: 90%;
  font-family: courier;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  letter-spacing: .05em;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: white;
  background-color: #950000;
  border: 1px solid black;
  min-height: 1.35em;
  max-width: 200px;
  border-radius: 4px
}
.fr_f2_sub_text {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  max-width: 960px
}
.fr_f2_main_title {
  float: none;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  min-height: 1.275em
}
.fr_footer_3 {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: white;
  min-height: 3.25em
}
.fr_f3_copyright {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: 0
}
.fr_f3_4_column_grid {
  float: none;
  display: block;
  width: 90%;
  vertical-align: top;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  max-width: 500px
}
.fr_f3_4_column_grid>.fr-widget:nth-child(4n+1) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 23%;
  clear: left;
  max-width: inherit
}
.fr_f3_4_column_grid>.fr-widget:nth-child(4n+2) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 23%;
  clear: none;
  max-width: inherit
}
.fr_f3_4_column_grid>.fr-widget:nth-child(4n+3) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 23%;
  clear: none;
  max-width: inherit
}
.fr_f3_4_column_grid>.fr-widget:nth-child(4n+4) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 23%;
  clear: none;
  max-width: inherit
}
.fr_f3_dribbble {
  display: inline-block;
  vertical-align: top
}
.fr_f3_instagram {
  display: inline-block;
  vertical-align: top
}
.fr_f3_twitter {
  display: inline-block;
  vertical-align: top
}
.fr_f3_facebook {
  display: inline-block;
  vertical-align: top
}
.fr_mobile_toggle .fr-svg-inner {
  padding-bottom: 84.15300546448087%;
  position: relative
}
.fr_in_icon_svg_three .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}
.fr_tw_icon_svg_three .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}
.fr_in_icon_svg_two .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}
.fr_tw_icon_svg_two .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}
.fr_in_icon_svg_one .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}
.fr_tw_icon_svg_one .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}
@media screen and (max-width: 1024px) {
  .fr_h2_center_white {
    font-size: 1.5em
  }
  .fr_h1_main_center_white-1 {
    font-size: 1.5em
  }
  .fr_h1_black {
    font-size: 3.0em
  }
  .fr_team_h1_main_title {
    font-size: 3.0em
  }
  .fr_items {
    padding-left: 100px
  }
}
@media screen and (max-width: 768px) {
  .fr_navigation_link {
    text-align: left
  }
  .fr_h1_main_center_white {
    font-size: 3.0em
  }
  .fr_h1_black {
    font-size: 2.55em
  }
  .fr_team_h1_main_title {
    font-size: 2.55em
  }
  .fr_navigation {
    padding-top: 0;
    padding-bottom: 7px
  }
  .fr_items {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    max-height: 0;
    overflow: hidden
  }
  .fr_link_3 {
    display: block
  }
  .fr_link_2 {
    display: block
  }
  .fr_link_1 {
    display: block
  }
  .fr_mobile_toggle {
    display: block
  }
  .fr_link_4 {
    display: block
  }
  .fr_link_5 {
    display: block
  }
  .fr_link_6 {
    display: block
  }
  .fr_team_3_column_grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_soc_icons_one {
    float: none;
    display: block
  }
}
@media screen and (max-width: 480px) {
  .fr_paragraph_main_center_white {
    font-size: .8em
  }
  .fr_h1_main_center_white {
    font-size: 1.8em
  }
  .fr_h2_center_white {
    font-size: 1.0em;
    line-height: 1.3em
  }
  .fr_h1_main_center_white-1 {
    font-size: 1em;
    line-height: 1.2em
  }
  .fr_form_input_1 {
    font-size: .5em
  }
  .fr_h1_black {
    font-size: 2.0rem
  }
  .fr_h2_main_center_grey {
    font-size: 1.1em
  }
  .fr_team_h1_main_title {
    font-size: 2.0em
  }
  .fr_h1_main_center_black {
    font-size: 1.3em
  }
  .fr_header_1 {
    padding-top: 80px;
    padding-bottom: 80px
  }
  .fr_styled_form_grid>.fr-widget:nth-child(1n+1) {
    margin-top: .25em;
    margin-right: 1%;
    margin-bottom: .25em;
    margin-left: 1%;
    width: 98%;
    clear: left;
    max-width: inherit
  }
  .fr_team_3_column_grid>.fr-widget:nth-child(1n+1) {
    margin-right: 1%;
    margin-left: 1%;
    width: 98.0%;
    clear: left;
    max-width: inherit
  }
  .fr_f3_4_column_grid {
    float: none;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto
  }
  .fr_f3_4_column_grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 1%;
    margin-bottom: .6em;
    margin-left: 1%;
    width: 98%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 320px) {
  .fr_h1_main_center_white {
    font-size: 1.2em
  }
  .fr_h1_black {
    font-size: 1.5em
  }
  .fr_team_h1_main_title {
    font-size: 2.0em
  }
  .fr_styled_form_1 {
    padding-top: 120px;
    padding-bottom: 140px
  }
  .fr_team_3_column_grid>.fr-widget:nth-child(1n+1) {
    margin-top: 1.7em;
    margin-bottom: 1.7em;
    width: 100.0%;
    clear: left;
    max-width: inherit
  }
}
.fr_f3_dribbble {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.fr_f3_dribbble:hover {
  color: black;
  transition-duration: .125s
}
.fr_f3_instagram {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.fr_f3_instagram:hover {
  color: black;
  transition-duration: .125s
}
.fr_f3_twitter {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.fr_f3_twitter:hover {
  color: black;
  transition-duration: .125s
}
.fr_f3_facebook {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.fr_f3_facebook:hover {
  color: black;
  transition-duration: .125s
}
.fr_hd1_button {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.fr_hd1_button:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}
.fr_header_1 {
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.fr_header_1:hover {
  transition-duration: .125s
}
.fr_link_6 {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.fr_link_6:hover {
  color: #950000;
  transition-duration: .125s
}
.fr_link_5 {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.fr_link_5:hover {
  color: #950000;
  transition-duration: .125s
}
.fr_link_4 {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.fr_link_4:hover {
  color: #950000;
  transition-duration: .125s
}
.fr_link_3 {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.fr_link_3:hover {
  color: #950000;
  transition-duration: .125s
}
.fr_link_2 {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.fr_link_2:hover {
  color: #950000;
  transition-duration: .125s
}
.fr_link_1 {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}
.fr_link_1:hover {
  color: #950000;
  transition-duration: .125s
}
